@{
    ViewData["Title"] = "Registration";
}
<div class="container1">
    <div class="text_in">
        <input class="text_field" type="text" required>
        <label class="text_field_lab">Name</label>

    </div>
    <div class="text_in">
        <input class="text_field" type="text" required>
        <label class="text_field_lab">Surname</label>
    </div>
    <div class="text_in">
        <input class="text_field" type="text" required>
        <label class="text_field_lab">EMail Adress</label>
    </div>
    <div class="text_in">
        <input class="text_field" type="password" required>
        <label class="text_field_lab">Password</label>
    </div>
    <div class="text_in">
        <input class="text_field" type="password" required>
        <label class="text_field_lab">Confirm Password</label>
    </div>
    
        <input class="submit" type="submit" value="Send" />
    
</div>
